extends wrapper.pug

block append styles
	link(href="/dest/css/pages/index.min.css", rel="stylesheet")

block vars
	- var bodyClass = 'index-page'; 
	- var metaDesc = 'Je vous accompagne dans la création de votre site web et votre démarche de prise en compte de l’accessibilité numérique.'

block main
	section
		div(class="container lg:pt-2")
			.row.align-center.justify-center
				div(class="col-12 lg:col-5 py-3 lg:pt-2 lg:pb-4")
					h1.h2 Intégrateur web soucieux de l’assurance qualité web <span class="text-secondary" aria-hidden="true">●</span>
					p.h3.fw-regular.text-system.lh-base Je vous accompagne dans la création de votre site web et votre démarche de prise en compte de l’accessibilité numérique.
					.row
						.col-auto
							a(href="#prestations", class="btn btn--primary") 
								svg(aria-hidden="true")
									use(xlink:href="/dest/img/sprite.svg#icon-sparkles")
								| Mes prestations
						.col-auto
							a(href="/contact", class="btn btn--grey") 
								svg(aria-hidden="true")
									use(xlink:href="/dest/img/sprite.svg#icon-envelop")
								| Me contacter
				div(class="col-12 md:col-9 lg:col-7 align-end-self")
					img(src="/dest/img/svg/illustration-homepage.svg", width="706", height="519", alt="")

	section#prestations
		div(class="container pb-3 lg:pb-4")
			h2(class="py-3 mb-0 text-center") Mes prestations
			.row.justify-center
				mixin presta(img, imgW, imgH, title, content, url, urlText)
					div(class="col-12 md:col-6 lg:col-4")
						article(class="d-flex flex-column align-center bg-white p-2 radius text-center h-100")
							img(src="/dest/img/svg/"+img+".svg", width=imgW, height=imgH, loading="lazy", alt="")
							h3.text-primary-dark=title
							.text-left.mb-2 !{content}
							a(href=url, class="btn btn--primary mt-a")
								svg(aria-hidden="true", class="p-0.5")
									use(xlink:href="/dest/img/sprite.svg#icon-chevron-right")
								=urlText
				+presta("prestation-site", "240", "200", "Création de sites web", "<p>Vous avez des maquettes graphiques (ou un thème de CMS) prêtes à être intégrées pour démarrer le développement de votre nouveau site ?</p><p><b>Je réalise vos pages web</b> de manière respectueuse des standards de <strong>qualité web</strong>.</p>", "/prestations/creation-sites-web", "Créer mon site")
				+presta("prestation-accessibilite", "221", "200", "Accessibilité numérique", "<p>Vous souhaitez mettre en place une démarche d’amélioration de l’accessibilité sur votre projet ?</p><p>Je peux <strong>sensibiliser</strong> vos équipes, <strong>auditer</strong> des livrables graphiques ou développements existants, ou tout simplement vous <strong>accompagner</strong> et vous conseiller tout au long de la vie de votre projet.</p>", "/prestations/accessibilite-numerique", "Se faire accompagner")
				+presta("prestation-qualite-web", "145", "200", "Audit qualité web", "<p>Vous avez déjà un site web ? Je peux vous rédiger un compte-rendu des manquements relatifs à l’<strong>assurance qualité web</strong>.</p><p>Et ainsi vous proposer des pistes de <strong>corrections</strong> et d’<strong>améliorations</strong> en matière d’accessibilité, de SEO, d’éco-conception, d’ergonomie, de respect des données personnelles, d’éditorial, et bien d’autres.</p>", "/prestations/audit-qualite-web", "Auditer mon site") 

	section.bg-white
		div(class="container py-3 lg:py-4")
			.row.justify-evenly
				div(class="col-12 sm:col-8 md:col-7")
					h2(class="text-center sm:text-left") Qui suis-je ?
					p Je m’appelle <strong>Alexis</strong>, 35 ans, marié, jeune papa, gaga des animaux, baigné dans la culture populaire japonaise des années 90, rêvant d’un numérique responsable, j’ai la chance d’exercer le métier d’<strong>intégrateur web</strong> depuis une quinzaine d'années.
					p Passionné depuis toujours par ce que le web est en mesure d’apporter au monde, je suis féru de <strong>HTML</strong> et <strong>CSS</strong> depuis mes débuts.<br>Ces langages, faciles à utiliser mais difficiles à maitriser, sont mes outils au quotidien et constituent le fil principal de ma veille. J’adore discuter de sémantique, d’animations, de SEO, d’accessibilité, d’éco-conception, de responsive et d'ergonomie.
					a(href="/a-propos", class="btn btn--grey")
						svg(aria-hidden="true")
							use(xlink:href="/dest/img/sprite.svg#icon-user")
						| En apprendre plus
				div(class="col-8 sm:col-4 md:col-5 sm:order-first align-center-self pt sm:pt-0" style="container-type: inline-size")
					.photo
						img(src="/dest/img/photo-about-1.webp", alt="", loading="lazy", width="342", height="700")




